# .clang-format
BasedOnStyle: Google
SortIncludes: true
IndentWidth: 4
IncludeCategories:
  - Regex: '^<.*>'   # System headers: these come first
    Priority: 1
  - Regex: '^".*"'   # Local headers: these come next
    Priority: 2
